@media screen and (max-width: 480px) {
	.footer > h6,
	h5 {
		color: white;
		font-size: 12px;
	}
}

.footer {
	margin: 0px;
	background-color: rgb(51, 58, 65);
}
.footer > h6,
h5 {
	color: white;
}

.footer.jumbotron {
	border-radius: 0;
}
