input[type='text'] {
	width: 70%;
	height: 38px;
	border-radius: 4px;
	border: none;
	padding: 10px;
	outline: none;
	border-radius: 30px;
	padding-left: 15px;
}

.header.jumbotron {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	font-size: 20px;
	color: black;
}

.formGroup {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px 0
}

.headerHero {
	background-color: #ddd;
	background: url('/bg-unsplash.jpg') no-repeat;
	height: 150px;
}