.results {
	column-count: 3;

	column-gap: 2em;
	/* margin: 60px; */
	padding: 20px;
}

@media screen and (max-width: 480px) {
	.results {
		column-count: 1;
		padding: 0;
		column-gap: 1em;
	}

	.profile h6 {
		margin-bottom: 0;
		margin-left: 10px;
		color: white;
		font-size: 10px;
	}

	.image .likes.badge {
		position: absolute;
		width: 50px;
		height: 20px;
		top: 10px;
		right: 10px;
		display: none;
		font-size: 8px;
	}

	.loader-container.not-found h2 {
		font-size: 22px;
	}
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	/* margin-bottom: 2em; */
}

.profile > img {
	margin-bottom: 0px;
}

.profile h6 {
	margin-bottom: 0;
	margin-left: 10px;
	color: white;
}
.image {
	position: relative;
	margin-bottom: 30px;
}

.image:hover {
	cursor: zoom-in;
}

.image:hover .profile {
	display: flex;
}

.image .profile:hover {
	color: white;
	text-decoration: underline;
}

.image:hover .overlay {
	display: block;
}

.image:hover button.btn {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 0) 0%,
		rgba(0, 0, 0, 0.3) 100%
	);
	display: none;
}

.image .likes {
	position: absolute;
	width: 80px;
	height: 30px;
	top: 10px;
	right: 10px;
	display: none;
}

.image:hover .likes {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image button.btn {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
	cursor: pointer;
	width: 40px;
	font-size: 1em;
	font-weight: bolder;
	z-index: 100;
}

/* .image button:hover {
	opacity: 100%;
	color: black;
	transition: 0s;
} */

.profile {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 8px;
	left: 0;
	padding-left: 10px;
	display: none;
	cursor: pointer;

	/* background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6460959383753502) 0%,
		rgba(0, 0, 0, 0.18110994397759106) 31%,
		rgba(89, 89, 89, 0) 46%,
		rgba(255, 255, 255, 0) 89%
	); */
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* loader */
.loader {
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #1c1c1c; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

.loader-container {
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader-container.not-found {
	display: flex;
	flex-direction: column;
}

.loader-container p {
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 0;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
